@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Worthbites';
    src: url(./assets/Fonts/Worthbites.ttf);
  }

  @font-face {
    font-family: 'Worthbites-rough';
    src: url(./assets/Fonts/worthbites-rough-EID.ttf);
  }

  @font-face {
    font-family: 'Satoshi';
    src: url(./assets/Fonts/Satoshi-Variable.ttf);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

::selection {
  background-color: #3d6642;
  color: white;
}
